        body {
            font-family: sans-serif;
            margin: 0;
            font-size: 1rem;
            background-color: #fefefe;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        form {
            min-height: 3rem;
            background-color: #6e6e6e;
            padding: .5rem;
            color: #ddd;
            box-shadow: 0 6px 10px rgba(110, 110, 110, .5);
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(60, 60, 60, .6);
        }

        input {
            line-height: 2rem;
            width: 100%;
            border: 2px solid transparent;
            border-radius: 8px;
            box-sizing: content-box;
        }

        input:focus {
            outline: none;
            border-color: #d66;
            box-shadow: 0 0 20px rgba(255, 0, 0, .9);
        }

        input+button {
            line-height: 2rem;
            width: 100%;
            box-sizing: border-box;
            background-color: #efefef;
            border-radius: 6px;
        }

        main {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        aside {
            flex-basis: 400px;
            box-shadow: -2px -2px 16px rgba(110, 110, 110, .5);
            padding: 1rem;
            background-color: #efefef;
        }

        nav {
            background-color: #efefef;
            border: 1px solid #999;
            border-radius: 5px;
            padding: .5rem;
        }

        nav a:hover {
            background-color: #ddd;
            padding: .5rem 0;
            color: #333;
        }

        div {
            padding: .5rem;
            color: #333;
        }

        div span {
            font-weight: bold;
            background-color: #000;
            color: #fff;
            padding: .5rem;
        }

        ul#list {
            flex: 1;
            list-style-type: none;
            margin-right: 3rem;
            padding-left: 0;
            background-color: #fefefe;
        }

        ul#list>li {
            padding: .3rem;
            margin-bottom: 1px;
            background-color: #dfdfdf;
        }

        ul#list>li:nth-child(odd) {
            background-color: #efefef;
        }

        ul#list>li:hover {
            background-color: #e9e9e9;
        }

        li span {
            font-size: .8rem;
            border: 1px solid #af6f6f;
            border-radius: 10px;
            display: inline-block;
            min-width: 30px;
            margin-right: 1rem;
            padding: 3px;
        }

        li button {
            border: 1px solid #999;
            border-radius: 7px;
            padding: 2px;
            line-height: .5rem;
            font-size: .7rem;
            margin-left: 1rem;
            background-color: #f3f3f3;
            vertical-align: super;
        }

        li button:hover {
            cursor: pointer;
        }

        @media (min-width: 600px) {
            input {
                width: 20rem;
            }

            input+button {
                width: auto;
                border: 2px solid transparent;
                border-width: 2px 2px 2px 0;
            }

            input:focus+button {
                outline: none;
                border-color: #d66;
                box-shadow: 0 0 20px rgba(255, 0, 0, .9);
            }

            button:focus {
                user-select: none;
                outline: none;
            }

            form input:nth-of-type(1) {
                border-radius: 8px 0 0 8px;
                margin-right: 0;
                border-right: none;
            }

            form button:nth-of-type(1) {
                border-radius: 0 8px 8px 0;
                margin-left: 0;
                margin-right: 2rem;
            }
        }

        @media (min-width: 900px) {
            input {
                width: 15rem;
            }

            form hr {
                display: none;
            }

            main {
                flex-direction: row;
            }
        }